/*** generics ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
}

img {
    width: 100%;
}


/*** utilities ***/

.flex {
    display: flex;
}


/*** content ***/

/* header */
.contenitore-header {
    justify-content: space-evenly;
    padding: 20px;
    background-color: #ff6901;
    color: white;
    font-size: 1rem;
}

.logo {
    flex-grow: 1;
}

.logo img {
    width: 130px;
}

ul {
    list-style-type: none;
}

li {
    padding: 0px 5px;
}

/* main */
section {
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 30px 120px;
}

.card {
    flex-direction: column;
    flex-shrink: 0;
    margin: 10px;
    width: calc(100% / 3 - 20px);

}

.card p {
    flex-direction: column;
}

.card:hover .heart {
    color: red;
}