/*** generics ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
}

img {
    width: 100%;
}


/*** utilities ***/

.flex {
    display: flex;
}

/*** content ***/

/* header */
.contenitore-header {
    justify-content: space-between;
    padding: 10px 129px;
    background-color: #ff6901;
    color: white;
    font-size: 1rem;
    align-items: center;
}

.logo img {
    width: 130px;
}

ul {
    list-style-type: none;
}

li {
    padding: 0px 5px;
}

/* main */
section {
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 30px 120px;
}

.card {
    flex-direction: column;
    flex-shrink: 0;
    margin: 10px;
    width: calc(100% / 3 - 20px);
    position: relative;
}

.card p {
    flex-direction: column;
    line-height: 14px;
}

.heart {
    position: absolute;
    left: 88%;
    bottom: 91%;
    background-color: white;
    padding: 6px;

}

.sconto {
    position: absolute;
    top: 70%;
    color: white;
    background-color: red;
    padding: 3px 5px;
    font-size: 0.7rem;
}

.dettaglio {
    position: absolute;
    top: 70%;
    right: 64%;
    color: white;
    background-color: green;
    padding: 3px 5px;
    font-size: 0.7rem;
    font-weight: bold;
}

.card:hover .heart {
    color: red;
}

.hover-img {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover .hover-img {
    visibility: visible;
}

#marca {
    font-size: 0.7rem;
    color: #7f7f7f;
}

#modello {
    font-size: 0.9rem;
    font-weight: bold;
}

#prezzo {
    font-size: 0.7rem;
    color: red;
}

#prezzo-precedente {
    font-size: 0.7rem;
    color: #7f7f7f;
    text-decoration: line-through;
}


/* footer */
footer {
    background-color: #1a1a1a;
    color: white;
    justify-content: space-between;
    padding: 30px 129px;
    font-size: 1rem;
}

footer div {
    line-height: 18px;
}

.info-società a {
    text-decoration: none;
    color: white;
    font-size: 0.6rem;
    font-weight: 100;
}

.social-links p {
    font-size: 0.9rem;
    font-weight: lighter;
}

.social-links a {
    color: white;

    text-decoration: none;
}